---
import Map from "../components/Map.vue";
import { Icon } from "astro-icon/components";
import getUnicodeFlagIcon from "country-flag-icons/unicode";

interface Props {
  ip: string;
  center: number[];
  hostname: string;
  country: string;
  city: string;
  org: string;
  loc: string;
  timezone: string;
}

const { ip, center, hostname, city, org, loc, timezone, country } = Astro.props;
---

<div class="user-info">
  <div class="user-info_data px-4 py-1">
    <div class="flex items-center justify-between">
      <h2>{ip}</h2>
      <button
        type="button"
        class="me-2 inline-flex items-center rounded-lg bg-violet-700 p-2.5 text-center text-sm font-medium text-white hover:bg-violet-600 hover:bg-violet-800 focus:outline-none focus:outline-none active:bg-violet-700"
      >
        <Icon name="mdi:content-copy" />
      </button>
    </div>
    <div class="user-info_data-details">
      <p title={country}>
        Country: <span>{getUnicodeFlagIcon(country)} {country}</span>
      </p>
      <p title={city}>City: <span>{city}</span></p>
      <p title={loc}>Location: <span>{loc}</span></p>
      <p title={timezone}>Time zone: <span>{timezone}</span></p>
      <p title={org}>Org: <span>{org}</span></p>
      <p title={hostname}>Hostname: <span>{hostname}</span></p>
    </div>
  </div>
  <Map class:list={"user-info_map"} client:only center={center} />
</div>

<style lang="scss">
  .user-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    border-radius: 8px;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      overflow: hidden;
    }

    &_map {
      max-width: 200px;
    }

    &_data {
      width: 100%;

      &-details {
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid rgba(var(--accent-light), 25%);

        p {
          font-size: 1.2rem;
          margin: 0;
          padding: 0;
          font-weight: normal;
          display: flex;

          span {
            margin-left: auto;
            font-weight: bold;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
          }
        }
      }
    }
  }
</style>
